.kitisulu-page{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.kitisuru-main{
    background-image: url(./images/Ankole\ menu.jpg);
    height: 100%;
    width: 100%;
    text-align: center;
}
.ankole{
    position: absolute;
    top: 20px;
    left: 20%;
    height: 300px;
    z-index: 10;
    width: 300px;
}
.menu-p{
    margin-top: 50%;
    color: #b24216;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 17%;
}
.menu-word{
    color: white;
}
.kitisuru-word{
    color: #b24216;
}
.menu-nav{
    position: absolute;
    background: black;
    width: 40%;
    left: 7%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 30px;
    height: 60px;
    margin-top: 2%;
    gap: 3%;  
}
#bar{
    color: white;
    font-size: 20px;
    margin-top: 2%;
}
.reservation-btn{
    background-color: #737373;
    /* padding-top: 10px; */
    padding: 17px;
   margin-top: -13px;
   border-radius: 8px;
   color: white;
   font-size: 18px;
   border: none;
}
.menu-nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
        margin-top: 2%;
}
.menu-list{
    background-color: black;
    color: white;
    width: 80%;
   overflow: scroll;
}
.menu-information{
    margin-left: 7%;
    margin-right: 1%;
}
.Food-category{
    display: flex;
    justify-content: center;
    gap: 5%;
    position: fixed;
    margin-left: 10%;
}
.Food-category a{
    text-decoration: none;
    color: white;
}
.drinks{
    display: flex;
    gap: 4%;
    color: #b24216;
    font-weight: bold;
}
.prices{
    display: flex;
    justify-content: space-between;
}
.category-title{
    color: #b24216;
    font-weight: bold;
    font-size: 20px;
}
.category{
    font-size: 20px;
}
.soup{
    display: flex;
    justify-content: space-between;
}
.salad{
    display: flex;
    gap: 7%;
    margin-top: 2%;
}
.logo-food{
    width: 12%;
    height: 9%;
}
.beef{
    display: flex;
}
#food{
    margin-top: 5%;
}
#sidesSausages{
    margin-top: 5%;
}
#fresh-drinks{
    margin-top: 5%;
}
#breakfast{
    transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .ankole{
        margin-left: 12%;
        transform: translateX();
        height: 140px;
        width: 140px;
        margin-top: 10%;
    }

    .menu-nav{
        width: 80%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -19%;
        gap: 10px;
    }
    .kitisulu-page{
        flex-direction: column;
    }
   
    .menu-list{
        background-color: black;
        color: white;
        width: 100%;
       /* overflow: scroll; */
       margin-top: 10%;
    }

    .menu-nav a{
        font-size: 14px;
        margin-top: o;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
 

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .ankole{
        margin-left: -7%;
        transform: translateX();
        height: 120px;
        width: 120px;
        margin-top: 20%;
    }

    .menu-nav{
        width: 90%;
        left: 5%;
        /* flex-wrap: wrap; */
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 10px;
    }
    .menu-nav a{
        font-size: 14px;
        margin-top: o;
    }
    .kitisulu-page{
        flex-direction: column;
        overflow-y: auto;
    }
    .menu-list{
        background-color: black;
        color: white;
        width: 100%;
       /* overflow: scroll; */
       margin-top: 5%;
    }
    .kitisulu-page{
        overflow: scroll;
    }
    }
   
    @media only screen and (min-width: 1000px) and (max-width: 1253px){
        .ankole-logo{
            margin-left: -4%;
            transform: translateX();
            height: 160px;
            width: 160px;
            margin-top: 10%;
        }
    
        nav{
            width: 50%;
            left: 25%;
            flex-wrap: wrap;
            align-items: center;
            height: auto;
            padding: 10px;
            margin-top: -12%;
            gap: 20px;
        }
        nav a{
            font-size: 14px;
            margin-top: o;
        }
        .banner-text h1{
            font-size: 49px;
            padding: 0 10px;
        }
    
        #watsapp{
            margin-left: 89%;
            margin-right: 10px;
            margin-top: -10%;
            font-size: 16px;
            padding: 10px;
        }
        .reservation-btn{
            padding: 10px 15px;
            font-size: 14px;
            margin-top: 0;
        }
        #social-media{
            margin-left: 29%;
            justify-content: center;
            width: 100%;
            gap: 10px;
            margin-top: 5%;
            position: absolute;
        }
        #instagram,
        #facebook{
            font-size: 14px;
            padding: 10px;
           
        }
    }
    
@media only screen and (min-width: 1000px) and (max-width: 1253px){
    .ankole-logo{
        margin-left: -4%;
        transform: translateX();
        height: 160px;
        width: 160px;
        margin-top: 10%;
    }

    nav{
        width: 50%;
        left: 25%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 20px;
    }
    nav a{
        font-size: 14px;
        margin-top: o;
    }
    .banner-text h1{
        font-size: 49px;
        padding: 0 10px;
    }

    #watsapp{
        margin-left: 89%;
        margin-right: 10px;
        margin-top: -10%;
        font-size: 16px;
        padding: 10px;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
    #social-media{
        margin-left: 29%;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        position: absolute;
    }
    #instagram,
    #facebook{
        font-size: 14px;
        padding: 10px;
       
    }
}
