.reserve-main {
    background-image: url(./images/ankoleview.jpg);
    height: 100%;
    width: 100%;
    /* background-repeat: no-repeat; */
    text-align: center;
    position: relative;
}

.live-collection {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.musical {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/live-image.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.live-nav {
    position: fixed;
    background: black;
    width: 40%;
    left: 7%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 30px;
    height: 60px;
    margin-top: 45%;
    gap: 3%;
    margin-bottom: 50%;
}
#bar{
    color: white;
    font-size: 20px;
    margin-top: 2%;
}
.live-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 2%;
}

.ankole-live-logo {
    position: fixed;
    margin-top: 4%;
    margin-left: 20%;
    height: 200px;
    z-index: 10;
    width: 200px;
    /* margin-bottom: 5%; */
}

.live-words {
    text-align: center;
    margin-top: 23%;
    position: fixed;
    margin-left: 22%;

}

.menu-word {
    color: white;
}

.kitisuru-word {
    color: #b24216;
}

.live-words .menu-word {
    font-size: 30px;
    margin-top: 5%;
}

.live-words .kitisuru-word {
    font-size: 30px;
}

.live-performers {
    position: absolute;
    /* background-color: black; */
    width: 80%;
    margin-left: 50%;
}

.musicians {
    display: flex;
    justify-content: center;
    /* gap: 30%; */
}

.performers img {
    width: 20%;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

.performers img:hover {
    transform: scale(1.1);
}

.performers {
    display: flex;
    margin-top: 2%;
}

.welcome-live {
    width: 50%;
}

.performer-details {
    font-size: 15;
    /* color: white; */
    margin-top: 8%;
    margin-left: 2%;
}

.date {
    color: #d14a15;
    font-size: 19px;
}

.kind {
    font-size: 25px;
    color: white;
}

.musical2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/live-image.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.reservation-btn {
    background-color: #737373;
    padding: 17px;
    margin-top: -13px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    border: none;
}

.performer-link {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .ankole-live-logo{
        margin-left: 0;
        transform: translateX();
        height: 120px;
        width: 120px;
        margin-top: 10%;
    }
  
    .live-nav{
        width: 90%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -36%;
        gap: 10px;
    }
    .live-nav a{
        font-size: 14px;
        margin-top: o;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .ankole-logo{
        margin-left: -7%;
        transform: translateX();
        height: 140px;
        width: 140px;
        margin-top: 20%;
    }
 
    nav{
        width: 90%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 10px;
    }
    nav a{
        font-size: 14px;
        margin-top: o;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1253px){
    .ankole-live-logo{
        margin-left: 19%;
        transform: translateX();
        height: 160px;
        width: 160px;
        margin-top: 10%;
    }
    nav{
        width: 50%;
        left: 5%;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 20px;
    }
    nav a{
        font-size: 14px;
        margin-top: o;
    }  
}
