.ankole-logo{
    position: absolute;
    top: 20px;
    left: 45%;
    height: 200px;
    z-index: 10;
    width: 200px;
}
#social-media{
    position: absolute;
    margin-top: 10px;
    color: white;
    z-index: 1;
    margin-left: 90%;
    display: flex;
    gap: 5%;
}
#instagram{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(94, 88, 88);
}
#facebook{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(94, 88, 88);
    margin-left: 5%;
}
.menu{
    display: flex;
    width: 100%;
    height: 100vh;
    /* position: relative; */
}
.kalibu{
    margin-top: 40%;
    color: #b24216;
    font-size: 35px;
    font-weight: bold;
}
.kitisulu{
    color: white;
    font-size: 55px;
    font-weight: bold;
}
.explore{
    color: white;
}

.kitisuru-menu{
    background-image: url(./images/ankoleview.jpg);
    height: 100%;
    width: 100%;
    text-align: center;

}
.kitisuru-menu a{
    text-decoration: none;
}
.kilimani-menu{
    background-image: url(./images/ankolemainhall.jpg);
    height: 100%;
    width: 100%;
   
}
.kilimani-menu{
    text-align: center;
}
.kilimani-menu a{
    text-decoration: none;
}
.discover{
    margin-top: 40%;
    color: #b24216;
    font-size: 35px;
    font-weight: bold;
    /* left: 20%; */
}
.kilimani{
    color: white;
    font-size: 55px;
    font-weight: bold;
}
.explore{
    color: white;
}
nav{
    position: absolute;
    background: black;@media only screen and (max-width: 600px) {
        .ankole-logo{
            margin-left: 0;
            transform: translateX();
            height: 120px;
            width: 120px;
            margin-top: 10%;
        }
    
        nav{
            width: 80%;
            left: 5%;
            flex-wrap: wrap;
            align-items: center;
            height: auto;
            padding: 10px;
            margin-top: -19%;
            gap: 10px;
        }
    
        nav a{
            font-size: 14px;
            margin-top: o;
        }
        .banner-text h1{
            font-size: 39px;
            padding: 0 10px;
        }
    
        #watsapp{
            margin-left: 89%;
            margin-right: 10px;
            margin-top: -13%;
            font-size: 25px;
            padding: 10px;
        }
        .reservation-btn{
            padding: 10px 15px;
            font-size: 14px;
            margin-top: 0;
        }
        #social-media{
            margin-left: 35%;
            justify-content: center;
            width: 100%;
            gap: 10px;
            margin-top: 5%;
            position: absolute;
        }
        #instagram,
        #facebook{
            font-size: 17px;
            padding: 10px;
           
        }
    
    }
    
    @media only screen and (min-width: 600px) and (max-width: 1000px) {
        .ankole-logo{
            margin-left: -7%;
            transform: translateX();
            height: 140px;
            width: 140px;
            margin-top: 20%;
        }
    
        nav{
            width: 80%;
            left: 5%;
            flex-wrap: wrap;
            align-items: center;
            height: auto;
            padding: 10px;
            margin-top: -12%;
            gap: 10px;
        }

        .discover{
            margin-top: 90%;
            color: #b24216;
            font-size: 15px;
            font-weight: bold;
            /* left: 20%; */
        }
        nav a{
            font-size: 14px;
            margin-top: o;
        }
        .banner-text h1{
            font-size: 49px;
            padding: 0 10px;
        }
    
        #watsapp{
            margin-left: 89%;
            margin-right: 10px;
            margin-top: -10%;
            font-size: 16px;
            padding: 10px;
        }
        .reservation-btn{
            padding: 10px 15px;
            font-size: 14px;
            margin-top: 0;
        }
        #social-media{
            margin-left: 29%;
            justify-content: center;
            width: 100%;
            gap: 10px;
            margin-top: 5%;
            position: absolute;
        }
        #instagram,
        #facebook{
            font-size: 14px;
            padding: 10px;
           
        }
    }
    
    @media only screen and (min-width: 1000px) and (max-width: 1253px){
        .ankole-logo{
            margin-left: -4%;
            transform: translateX();
            height: 160px;
            width: 160px;
            margin-top: 10%;
        }
    
        nav{
            width: 50%;
            left: 25%;
            flex-wrap: wrap;
            align-items: center;
            height: auto;
            padding: 10px;
            margin-top: -12%;
            gap: 20px;
        }
        nav a{
            font-size: 14px;
            margin-top: o;
        }
        .banner-text h1{
            font-size: 49px;
            padding: 0 10px;
        }
    
        #watsapp{
            margin-left: 89%;
            margin-right: 10px;
            margin-top: -10%;
            font-size: 16px;
            padding: 10px;
        }
        .reservation-btn{
            padding: 10px 15px;
            font-size: 14px;
            margin-top: 0;
        }
        #social-media{
            margin-left: 29%;
            justify-content: center;
            width: 100%;
            gap: 10px;
            margin-top: 5%;
            position: absolute;
        }
        #instagram,
        #facebook{
            font-size: 14px;
            padding: 10px;
           
        }
    }
    
    width: 40%;
    left: 27%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 30px;
    height: 60px;
   margin-top: -8%;
    gap: 3%;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 2%;
}
.reservation-btn{
    background-color: #737373;
    /* padding-top: 10px; */
    padding: 17px;
   margin-top: -13px;
   border-radius: 8px;
   color: white;
   font-size: 18px;
   border: none;
}
#watsapp{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: -7%;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 95%;
  }
  #bar{
    color: white;
    font-size: 20px;
    margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    .ankole-logo{
        margin-left: 0;
        transform: translateX();
        height: 120px;
        width: 120px;
        margin-top: 10%;
    }

    nav{
        width: 80%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -19%;
        gap: 10px;
    }

    nav a{
        font-size: 14px;
        margin-top: o;
    }
    .banner-text h1{
        font-size: 39px;
        padding: 0 10px;
    }

    #watsapp{
        margin-left: 89%;
        margin-right: 10px;
        margin-top: -13%;
        font-size: 25px;
        padding: 10px;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
    #social-media{
        margin-left: 35%;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        position: absolute;
    }
    #instagram,
    #facebook{
        font-size: 17px;
        padding: 10px;
       
    }

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .ankole-logo{
        margin-left: -7%;
        transform: translateX();
        height: 140px;
        width: 140px;
        margin-top: 20%;
    }

    nav{
        width: 80%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 10px;
    }
    nav a{
        font-size: 14px;
        margin-top: o;
    }
    .banner-text h1{
        font-size: 49px;
        padding: 0 10px;
    }

    #watsapp{
        margin-left: 89%;
        margin-right: 10px;
        margin-top: -10%;
        font-size: 16px;
        padding: 10px;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
    #social-media{
        margin-left: 29%;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        position: absolute;
    }
    #instagram,
    #facebook{
        font-size: 14px;
        padding: 10px;
       
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1253px){
    .ankole-logo{
        margin-left: -4%;
        transform: translateX();
        height: 160px;
        width: 160px;
        margin-top: 10%;
    }

    nav{
        width: 50%;
        left: 25%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 20px;
    }
    nav a{
        font-size: 14px;
        margin-top: o;
    }
    .banner-text h1{
        font-size: 49px;
        padding: 0 10px;
    }

    #watsapp{
        margin-left: 89%;
        margin-right: 10px;
        margin-top: -10%;
        font-size: 16px;
        padding: 10px;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
    #social-media{
        margin-left: 29%;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        position: absolute;
    }
    #instagram,
    #facebook{
        font-size: 14px;
        padding: 10px;
       
    }
}
