.ankole-logo{
    position: absolute;
    top: 20px;
    left: 45%;
    height: 200px;
    z-index: 10;
    width: 200px;
}
#social-media{
    position: absolute;
    margin-top: 10px;
    color: white;
    z-index: 1;
    margin-left: 90%;
    display: flex;
    gap: 5%;
}
#instagram{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(94, 88, 88);
}
#facebook{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(94, 88, 88);
    margin-left: 5%;
}
.menu{
    display: flex;
    width: 100%;
    height: 100vh;
    /* position: relative; */
}
.kalibu{
    margin-top: 40%;
    color: #b24216;
    font-size: 35px;
    font-weight: bold;
}
.kitisulu{
    color: white;
    font-size: 55px;
    font-weight: bold;
}
.explore{
    color: white;
}

.kitisuru-menu{
    background-image: url(./images/ankoleview.jpg);
    height: 100%;
    width: 100%;
    text-align: center;

}
.kitisuru-menu a{
    text-decoration: none;
}
.kilimani-menu{
    background-image: url(./images/ankolemainhall.jpg);
    height: 100%;
    width: 100%;
   
}
.kilimani-menu{
    text-align: center;
}
.kilimani-menu a{
    text-decoration: none;
}
.discover{
    margin-top: 40%;
    color: #b24216;
    font-size: 35px;
    font-weight: bold;
    /* left: 20%; */
}
.kilimani{
    color: white;
    font-size: 55px;
    font-weight: bold;
}
.explore{
    color: white;
}
nav{
    position: absolute;
    background: black;
    width: 40%;
    left: 27%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 30px;
    height: 60px;
   margin-top: -8%;
    gap: 3%;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 2%;
}
.reservation-btn{
    background-color: #737373;
    border-radius: 20px;
    width: 15%;
    /* margin-bottom: 10%; */
    padding: 25px;
    padding-bottom: 10px;
}
#watsapp{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: -7%;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 95%;
  }