
@import url(https://db.onlinewebfonts.com/c/a67d98abe8980caaa1768b6e27b323c6?family=Typewriter);
@import url(https://db.onlinewebfonts.com/c/952bab25f6798d6bb1937d67e9bee4dd?family=Sans);
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
}
.ankole-logo{
    position: absolute;
    top: 20px;
    left: 45%;
    height: 200px;
    z-index: 10;
    width: 200px;
}
.home{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideAnimation 25s infinite;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 1s ease-in-out;
}
.landing-page{
    background-image: url(images/ankoleview.jpg);
    animation-delay: 0s;
}
.discover-page{
    background-image: url(images/ankolemainhall.jpg);
    animation-delay: 5s;
}
.experience-page{
    background-image: url(images/ankolefood.jpg);
    animation-delay: 10s;
}
.taste-page{
    background-image: url(images/tasteimg.jpg);
    animation-delay: 15s;
}
.savour-page{
    background-image: url(images/sovourimg.jpg);
    animation-delay: 20s;
}
@keyframes slideAnimation {
    0% { opacity:  0; }
    5% { opacity:  1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0;}
  }
  .banner-text {
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  
  .banner-text h1 {
    font-size: 144px;
    color: rgba(115, 115, 115, 0.81);
    font-family: "Typewriter";
    font-weight: 500;
    font-style: normal;

  }
  nav{
    position: absolute;
    background: black;
    width: 40%;
    left: 27%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 30px;
    height: 60px;
   margin-top: -8%;
    gap: 3%;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-top: 2%;
    font-family: "Sans";
    color: rgb(115,115,115);
    font-weight: 400;
    font-style: normal;
}
.reservation-btn{
    background-color: #737373;
    /* padding-top: 10px; */
    padding: 17px;
   margin-top: -13px;
   border-radius: 8px;
   color: white;
   font-size: 18px;
   border: none;
}
#watsapp{
  color: white;
  font-size: 20px;
  position: absolute;
  margin-top: -7%;
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 95%;
}

#bar{
    color: white;
    font-size: 20px;
    margin-top: 2%;
}

#social-media{
    position: absolute;
    margin-top: 10px;
    color: white;
    z-index: 1;
    margin-left: 90%;
    display: flex;
    gap: 5%;
}
#instagram{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(94, 88, 88);
}
#facebook{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgb(94, 88, 88);
    margin-left: 5%;
}

@media only screen and (max-width: 600px) {
    .ankole-logo{
        margin-left: 0;
        transform: translateX();
        height: 120px;
        width: 120px;
        margin-top: 10%;
    }

    nav{
        width: 80%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -19%;
        gap: 10px;
    }

    nav a{
        font-size: 14px;
        margin-top: o;
    }
    .banner-text h1{
        font-size: 39px;
        padding: 0 10px;
    }

    #watsapp{
        margin-left: 89%;
        margin-right: 10px;
        margin-top: -13%;
        font-size: 25px;
        padding: 10px;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
    #social-media{
        margin-left: 35%;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        position: absolute;
    }
    #instagram,
    #facebook{
        font-size: 17px;
        padding: 10px;
       
    }

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .ankole-logo{
        margin-left: -7%;
        transform: translateX();
        height: 140px;
        width: 140px;
        margin-top: 20%;
    }

    nav{
        width: 80%;
        left: 5%;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding: 10px;
        margin-top: -12%;
        gap: 10px;
    }
    nav a{
        font-size: 14px;
        margin-top: o;
    }
    .banner-text h1{
        font-size: 49px;
        padding: 0 10px;
    }

    #watsapp{
        margin-left: 89%;
        margin-right: 10px;
        margin-top: -10%;
        font-size: 16px;
        padding: 10px;
    }
    .reservation-btn{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 0;
    }
    #social-media{
        margin-left: 29%;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 5%;
        position: absolute;
    }
    #instagram,
    #facebook{
        font-size: 14px;
        padding: 10px;
       
    }
}

